@model IEnumerable<SiteBibliotecaMVC.Models.GeneroViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeneroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.GeneroId }) |
                @Html.ActionLink("Details", "Details", new { id=item.GeneroId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.GeneroId })
            </td>
        </tr>
    }
    </tbody>
</table>
